SUPABASE_URL=https://supabase.com/dashboard/project/xxxxxxxxxxxxxxx
SUPABASE_PROJECT_PASSWORD=xxxxxxxxxxxxxxx
SUPABASE_API_PUBLISHABLE_KEY=sb_publishable_xxxxxxx_xxxxxxx_xxxxxxx
SUPABASE_API_SECRET_KEY=sb_secret__xxxxxxxxxxxxxx_xxxx_xxxxx